@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/*Color */
/*Neutral Color */
/*mixin */
nav {
  padding: 1.2rem 2rem;
  width: 100%;
}

@media (min-width: 62em) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

nav .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar-header .hambuger-btn {
  background-color: transparent;
  border: none;
  z-index: 2;
}

@media (min-width: 62em) {
  nav .navbar-header .hambuger-btn .hambuger {
    display: none;
  }
}

nav .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav .navbar-list .navbar_link {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fafafa;
  height: 100vh;
  width: 60vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 0.5rem;
  display: none;
}

nav .navbar-list .navbar_link.opened {
  display: block;
}

nav .navbar-list .navbar_link .navbar__list__item__dropdown {
  display: none;
}

nav .navbar-list .navbar_link .navbar__list__item__dropdown.opened {
  display: block;
}

@media (min-width: 62em) {
  nav .navbar-list .navbar_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    list-style: none;
    position: unset;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 3rem;
    padding: 0;
    background-color: transparent;
  }
  nav .navbar-list .navbar_link .navbar__list__item {
    position: relative;
    list-style: none;
    padding-top: 1rem;
    margin-left: 1rem;
  }
}

@media (min-width: 62em) and (min-width: 62em) {
  nav .navbar-list .navbar_link .navbar__list__item {
    padding-top: 0;
    margin-left: 0;
  }
}

@media (min-width: 62em) {
  nav .navbar-list .navbar_link .navbar__list__item .navbar__list__item__dropdown {
    display: none;
    background-color: #fafafa;
    list-style: none;
    position: absolute;
    width: 8rem;
    font-size: 0.8rem;
    top: 2rem;
    left: -45px;
    padding: 1rem;
    border-radius: 0.4rem;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  nav .navbar-list .navbar_link .navbar__list__item .navbar__list__item__dropdown.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.5rem;
  }
}

nav .navbar-list .navbar_link li {
  list-style: none;
  padding-top: 1rem;
  margin-left: 1rem;
  text-align: left;
}

nav .navbar-list .navbar_link li a {
  color: #141414;
  text-decoration: none;
}

nav .navbar-list .navbar_link li a img {
  margin-right: 0.5rem;
}

@media (min-width: 62em) {
  nav .navbar-list .navbar_link li {
    padding-top: 0;
    margin-left: 0;
  }
}

nav .navbar-list .navbar_auth {
  display: none;
}

nav .navbar-list .navbar_auth li button {
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
}

@media (min-width: 62em) {
  nav .navbar-list .navbar_auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    list-style: none;
  }
  nav .navbar-list .navbar_auth li a {
    text-decoration: none;
    color: dimgray;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 62em) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5.5rem 2rem 0;
  }
}

.content .image-container img {
  width: 85%;
  max-width: 430px;
}

.content .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 2rem 0 4rem 0;
  padding: 0 1rem;
  width: 100%;
  max-width: 500px;
}

@media (min-width: 62em) {
  .content .content-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    gap: 2.5rem;
  }
}

.content .content-container h1 {
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 62em) {
  .content .content-container h1 {
    font-size: 4.4rem;
    text-align: left;
  }
}

.content .content-container p {
  text-align: center;
  line-height: 1.5rem;
}

@media (min-width: 62em) {
  .content .content-container p {
    text-align: left;
    padding-right: 1.5rem;
  }
}

.content .content-container button {
  padding: 0.8rem 1.5rem;
  background-color: #141414;
  border-radius: 0.5rem;
  color: #fafafa;
  border: none;
}

.content .content-container button:hover {
  background-color: #fafafa;
  color: #141414;
  border: 1px solid #141414;
}

.content .content-container .content-sponsors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  justify-items: center;
  padding: 0 0.8rem;
  margin-top: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

main {
  max-width: 1440px;
  min-height: 100vh;
}

img {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */